body {
  max-width: 100%;
  background-color: rgba(249, 247, 254, 1);
}
h1,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 50px;
}
h2 {
  font-family: Playfair Display;
  font-size: 34px;
  font-weight: normal;
  text-align: center;
  line-height: 50px;
}
.btn {
  padding: 14px 20px;
  border-radius: 4px;
  background-color: rgba(108, 99, 255, 1);
  color: white;
}

.detail-button {
  width: 150px;
  display: block;
  margin: 0;
  padding: 18px 30px;
  border-radius: 4px;
  border: none;
  background-color: rgba(108, 99, 255, 1);
  color: white;
}

.contact-button {
  width: 125px;
  height: 55px;
  padding: 20px auto;
  border-radius: 4px;
  border: none;
  background-color: rgba(108, 99, 255, 1);
  color: white;
}
.project-image {
  border-radius: 30px;
}
form {
  width: 70%;
}
a {
  color: blue;
}
a:hover {
  color: blue;
}
